---
- name: Create 'atalanta' group
  group: name=atalanta

- name: Create 'atalanta' user
  user: name=atalanta groups=atalanta,sudo home=/home/atalanta

- name: Create 'summerhousesounds' group
  group: name=summerhousesounds

- name: Create 'sftp' group
  group: name=sftp

- name: Create 'summerhousesounds' user
  user: 
    name: summerhousesounds
    password: "{{ summerhousesounds_password }}"
    groups: summerhousesounds,www-data,sftp
    home: /
    shell: /bin/false

- name: Create chroot jail for sftp
  file: name=/home/sftp state=directory

- name: Configure sshd to chroot sftp
  template: dest=/etc/ssh/sshd_config src=sshd_chroot_config
  notify: restart sshd

- name: Allow 'atalanta' to log in with ssh key
  authorized_key: user=atalanta key=https://github.com/Atalanta.keys

- name: Permit passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    line: "%sudo	ALL=(ALL:ALL) NOPASSWD: ALL"
    state: present
    validate: "/usr/sbin/visudo -cf %s"

- name: Install fail2ban
  apt: pkg=fail2ban state=latest update_cache=true
  notify:
    - restart fail2ban

- name: Create local fail2ban config
  command: cp /etc/fail2ban/jail.conf /etc/fail2ban/jail.conf.local

- name: Whitelist Atalanta IP
  lineinfile:
    dest: /etc/fail2ban/jail.conf.local
    line: "ignoreip = 127.0.0.1/8 82.69.169.150"
    state: present
  notify:
    - restart fail2ban

- name: Start and enable fail2ban service
  service: name=fail2ban state=started enabled=yes
